/* Button primary */
.c-btn--primary {

}

	.c-btn--primary:hover {

	}


/* Button secondary */
.c-btn--secondary {

}

	.c-btn--secondary:hover {

	}


/* Button tretiary */
.c-btn--tretiary {

}

  .c-btn--tretiary:hover {

  }



/* Button helpers */

.h-btn--full-width {
  width: 100%;
}

.h-btn--big {
  height: 48px;
  font-size: 15px;
  line-height: 48px;
}

.h-btn--min-width-medium {
  min-width: 200px;
}
